.vscode/settings.json
*__pycache__/
*.pyc
*.pyo
*/doc/abntex2-modelo-include-comandos.aux
*/doc/main.toc
*/doc/main.synctex.gz
*/doc/main.lot
*/doc/main.loq
*/doc/main.log
*/doc/main.lof
*/doc/main.ind
*/doc/main.ilg
*/doc/main.idx
*/doc/main.fls
*/doc/main.fdb_latexmk
*/doc/main.aux
*/doc/main.bbl
*/doc/main.blg
*/doc/main.brf
*/doc/main.pdf
**/TG*/main.toc
**/TG*/main.synctex.gz
**/TG*/main.lot
**/TG*/main.loq
**/TG*/main.log
**/TG*/main.lof
**/TG*/main.ind
**/TG*/main.ilg
**/TG*/main.idx
**/TG*/main.fls
**/TG*/main.fdb_latexmk
**/TG*/main.aux
**/TG*/main.bbl
**/TG*/main.blg
**/TG*/main.brf
**/TG*/main.pdf
**/TG*/abntex2-modelo-include-comandos.aux
*.ipynb_checkpoints/
