.vscode/settings.json
*__pycache__/
*.pyc
*.pyo
*/doc/abntex2-modelo-include-comandos.aux
**/doc/main.*
!**/doc/main.tex
**/TG*/main.*
!**/TG*/main.tex


**/TG*/abntex2-modelo-include-comandos.aux
*.ipynb_checkpoints/
tg-robot.code-workspace
AndroidStudioProjects/**
arduino_workspace/libraries/**
