.vscode/settings.json
*__pycache__/
*.pyc
*.pyo
*/doc/abntex2-modelo-include-comandos.aux
*/doc/main.toc
*/doc/main.synctex.gz
*/doc/main.lot
*/doc/main.loq
*/doc/main.log
*/doc/main.lof
*/doc/main.ind
*/doc/main.ilg
*/doc/main.idx
*/doc/main.fls
*/doc/main.fdb_latexmk
*/doc/main.aux
*/doc/main.bbl
*/doc/main.blg
*/doc/main.brf
